<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Web UI</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<!-- <canvas id="myCanvas"></canvas> -->


<body style="background-color: rgb(36, 36, 36);" marginwidth="0" marginheight="0" topmargin="0" leftmargin="0">
    <div id="cotdStanding"></div>
    <script src="/js/main.js"></script>
</body>

</html>